<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <title>Paris 2024</title>

    <style>
        body {
            padding-top: 50px;
        }

        .special {
            padding-top: 50px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="..">Athlètes</a>
            <a class="navbar-brand" href="/sports">Sports</a>
            <a class="navbar-brand" href="/epreuves">Épreuves</a>
        </div>
    </div>
</nav>


<div class="container special">

    <h2 class="h2">Ajout d'une nouvelle actualité</h2>
    <div>
        <form method="post"
              th:action="@{/actualite/saveActualite}" th:object="${actualite}">
            <div class="form-group">
                <label for="prenomInput">Titre</label>
                <input
                        type="text" th:field="*{titre}" class="form-control" id="titreNameInput"
                        aria-describedby="titreHelp" placeholder="Saisir le titre"> <small
                    id="titreHelp" class="form-text text-muted">Merci d'écrire le titre de l'actualité.</small>
            </div>

            <label for="dateNaissInput">Date</label>
            <input
                    type="date" th:field="*{date}" class="form-control" id="dateInputInput"
                    aria-describedby="dateNaissInputHelp" placeholder="Saisir la date "> <small
                id="dateInputHelp" class="form-text text-muted">Merci d'écrire la date de l'actualité.</small>

            </br>
            </br>

            <div class="form-group">
                <label for="nomInput">Contenu</label>
                <input
                        type="text" th:field="*{contenu}" class="form-control" id="contenuInput"
                        aria-describedby="contenuHelp" placeholder="Saisir le contenu"> <small
                    id="contenuHelp" class="form-text text-muted">Merci d'écrire le contenu de l'actualité.</small>
            </div>
            </br>
            </br>

            <div class="form-group">
                <label for="sport">Sports :</label>
                <select id="sport" class="form-control" th:field="*{sport.id}">
                    <option value="">Sélectionnez un sport</option>
                    <option th:each="sport : ${listSport}" th:value="${sport.id}" th:text="${sport.nom}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="epreuve">Epreuve :</label>
                <select id="epreuve" class="form-control" th:field="*{epreuve.id}">
                    <option value="">Sélectionnez une epreuve</option>
                    <option th:each="epreuve : ${listEpreuve}" th:value="${epreuve.id}" th:text="${epreuve.nom}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
    </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>